Section {
    margin: 0 auto;
    width: 1440px;
    
}

.container {
    width: 1110px;
    margin: 0 auto;
} 

.image {
    display: inline-block;
    margin: 0;  
}

.imageblock {
position: relative;
    
}
.img1 {
    margin: 0;
    display: inline-block;
    margin-bottom: 16px;
    
}

.img1:hover {
    box-shadow: 1px 1px 5px 10px #aeaeb1;
}

.img2 {
    margin: 0;
    display: inline-block;
    margin-left: 16px;

}

.img2:hover {
    box-shadow: 1px 1px 5px 10px #aeaeb1;
}

.img3 {
    margin: 0;
    display: inline-block;
    position: absolute;   
}

.img3:hover {
    box-shadow: 1px 1px 5px 10px #aeaeb1;
}

.img4 {
    margin: 0;
    display: inline-block;
    margin-left: 184px;   
}

.img4:hover {
    box-shadow: 1px 1px 5px 10px #aeaeb1;
}

.description {
    width: 540px;
    margin: 0;
    display: inline-block;position: absolute;
    margin-left: 30px;
    margin-top: 155px;  
}

.description_icon {
    margin-left: 40px;
}

.descrition_icon_text {
    margin-bottom: 16px;
    display: inline-block;
    
}
h2 {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: #18191F;
}

.paragraf {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

p { 
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #18191F;
    width: 400px;
}

h4 {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #18191F;
    padding-bottom: 4px;
    
    
}

button {
    margin-top: 40px;
    margin-left: 40px;
    background: #8C30F5;
    border-radius: 10%;  
}

button:focus {
    background: #6d1bca;  
}

button:hover {
    background: #7f1fec;  
}
svg:hover {
    background: #15b7c0;
}
